:root {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  background-color: #cccccc;
  font-family: Arial, Helvetica, sans-serif;
}

body * + * {
  margin-top: 1em;
}

header {
  text-align: center;
}

nav {
  padding-bottom: 1em;
}

/*Parent*/
.site-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-radius: 0.25em;
}

.site-nav > li {
  /*Selects the child li element of the .site-nav parent*/
  display: flex;
  font-size: 1.5em;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0 0.5em;
}

.site-nav > li > a {
  /*Selects the child a element of the child li element of the .site-nav parent*/
  display: block;
  padding: 0.5em 1em;
  background-color: #ebf5df;
  color: #222222;
  text-decoration: none;
  border-radius: 0.25em;
}

.site-nav a:hover {
  background-color: #fafafa;
}

main {
  padding: 1em 1em;
  margin: 0 auto;
}

h1 /*The h1, h2, h3, and h4 tags have all been styled to specific criteria*/ {
  font-family: Arial, Helvetica, sans-serif;
  color: #222222;
  text-align: center;
  margin: auto;
  padding: 0.75em 0 0.75em 0;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #222222;
  padding: 1;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: #222222;
  padding-bottom: 1em;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: #222222;
  padding: 2.5px;
  margin: 5px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: #222222;
  margin: 0 auto;
  padding: 0.5em;
}

.explain {
  width: 80%;
  height: auto;
  background-color: #ebf5df;
  text-align: center;
  font-size: 1.25rem;
  margin: 0 auto;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
}

.explain > p {
  padding-bottom: 1em;
}

#example-container {
  display: flex;
  width: 95%;
  height: 25em;
  margin: 0 auto;
  background-color: #fafafa;
  border: 5px solid #222222;
  align-content: center;
  align-items: center;
}

.center-content {
  margin: 0 auto;
}

/* Contact Button and Form */
textarea:focus,
input:focus {
  outline: none;
}
ul li {
  list-style: none;
}

ul {
  display: inline-block;
}

#contact {
  background: #fafafa;
  position: relative;
  width: 30em;
  max-width: 100%;
  margin: 0 auto;
  box-shadow: 0 5px 10px #222222;
}
.js #contact {
  position: absolute;
  top: 3em;
  display: none;
  left: 0;
  right: 0;
}

input {
  border: 0;
  margin: 1em 40px;
  width: 25em;
  padding: 1em;
  border-bottom: 2px solid #222222;
  background: none;
  display: block;
  color: #222222;
}

/*prettier-ignore*/
input[type=submit] {
  width: 15em;
  border-radius: .25em;
  text-align: center;
  align-items: center;
  align-content: center;
}

::placeholder {
  font-size: 1rem;
}

textarea {
  border: 0;
  width: 25em;
  height: 200px;
  display: block;
  margin-left: 40px;
  background: none;
  padding: 1em;
  border-bottom: 2px solid #222222;
  color: #222222;
  resize: none;
}

#submit {
  margin: 2em auto;
  border: 2px solid #222222;
  color: #222222;
  font-size: 20px;
}

#submit:hover {
  background-color: #ebf5df;
}
.button-container {
  display: block;
  margin: 0 auto;
}
.btn {
  padding: 0.5em;
  border: 2px solid #252525;
  border-radius: 0.25em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #222222;
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: ease all 0.3s;
  display: block;
}

.btn:hover {
  background: #bad4aa;
  color: #222222;
  border: #222222 solid 2px;
}
.btn:active {
  background: #fafafa;
  color: #222222;
  border: #222222 solid 2px;
}

.close {
  position: absolute;
  right: 30px;
  top: -5px;
  cursor: pointer;
  font-weight: 400;
  font-size: 4rem;
  color: #222222;
}

/*Resize*/
#resize-animate {
  min-width: 25%;
  min-height: 50%;
  padding: 0.5em;
  margin: 0 auto;
}

#resize-animate > h3 {
  text-align: center;
  padding: 0.25em;
  margin: 0 auto;
}

.ui-resizable-helper {
  border: 1px dotted grey;
}

/*Select*/
#select .ui-selecting {
  background-color: #cccccc;
}

#select .ui-selected {
  background-color: #bad4aa;
  color: #222222;
}

#select {
  list-style-type: none;
  width: 30em;
}

#select > li {
  margin: 0 auto;
  padding: 0.25em;
  float: left;
  width: 100px;
  height: 80px;
  font-size: 3em;
  text-align: center;
  border: 1px solid #222222;
  margin-right: 0.05em;
  margin-bottom: 0.05em;
}

/*Tabs*/
#tabs .ui-widget-header {
  background-color: #fafafa;
  border: none;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 75%;
  font-style: italic;
  text-align: center;
  padding: 1em;
}

@media (min-width: 35em) {
  .site-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: #cccccc; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 0.25em;
  }
}

@media (min-width: 50em) {
  .site-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: #cccccc; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 0.25em;
  }
}
